In [17]:
import pandas as pd

# 1. CSV íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
file_path = 'data/í˜¼ì¡ë„_2022_í†µí•©.csv'
df = pd.read_csv(file_path, encoding='utf-8')  # í•„ìš”ì‹œ 'euc-kr'ë¡œ ë³€ê²½

# 2. ê¸°ë³¸ ì •ë³´ í™•ì¸
print("âœ… ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°")
display(df.head())

print("\nğŸ“Œ ì»¬ëŸ¼ ì •ë³´")
print(df.columns)

print("\nğŸ“Œ ê²°ì¸¡ì¹˜ ê°œìˆ˜")
print(df.isnull().sum())

print("\nğŸ“Œ ë°ì´í„° íƒ€ì…")
print(df.dtypes)

âœ… ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°

,tm,line,station_number,name,direction,stn,TMP,wd,WSD,rn_day,PCP,REH,si,ta_chi,congestion,year,month,day,hour,datetime
0,2022010100,1,150,ì„œìš¸ì—­,ìƒì„,419,-9.4,61.0,3.5,0.0,0.0,34.0,-99.0,-12.8,0,2022,1,1,0,2022-01-01 00:00:00
1,2022010101,1,150,ì„œìš¸ì—­,ìƒì„,419,-9.4,39.4,2.0,0.0,0.0,35.8,-99.0,-10.4,0,2022,1,1,1,2022-01-01 00:01:00
2,2022010105,1,150,ì„œìš¸ì—­,ìƒì„,419,-9.7,350.9,0.9,0.0,0.0,44.5,-99.0,-10.8,2,2022,1,1,5,2022-01-01 00:05:00
3,2022010106,1,150,ì„œìš¸ì—­,ìƒì„,419,-9.4,139.6,0.5,0.0,0.0,43.4,-99.0,-11.0,5,2022,1,1,6,2022-01-01 00:06:00
4,2022010107,1,150,ì„œìš¸ì—­,ìƒì„,419,-10.1,173.6,2.7,0.0,0.0,49.2,-99.0,-10.9,4,2022,1,1,7,2022-01-01 00:07:00

ğŸ“Œ ì»¬ëŸ¼ ì •ë³´
Index(['tm', 'line', 'station_number', 'name', 'direction', 'stn', 'TMP', 'wd',
       'WSD', 'rn_day', 'PCP', 'REH', 'si', 'ta_chi', 'congestion', 'year',
       'month', 'day', 'hour', 'datetime'],
      dtype='object')

ğŸ“Œ ê²°ì¸¡ì¹˜ ê°œìˆ˜
tm                    0
line                  0
station_number        0
name                  0
direction             0
stn                   0
TMP               37922
wd                    0
WSD               49768
rn_day                0
PCP               89830
REH               42860
si                    0
ta_chi                0
congestion            0
year                  0
month                 0
day                   0
hour                  0
datetime              0
dtype: int64

ğŸ“Œ ë°ì´í„° íƒ€ì…
tm                  int64
line                int64
station_number      int64
name               object
direction          object
stn                 int64
TMP               float64
wd                float64
WSD               float64
rn_day            float64
PCP               float64
REH               float64
si                float64
ta_chi            float64
congestion          int64
year                int64
month               int64
day                 int64
hour                int64
datetime           object
dtype: object

In [18]:
# í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ: wd(í’í–¥), rn_day(ì¼ê°•ìˆ˜ëŸ‰)
df.drop(columns=['wd', 'rn_day'], inplace=True)

# ì‚­ì œ í›„ ì»¬ëŸ¼ ëª©ë¡ í™•ì¸
print("ğŸ“Œ ì»¬ëŸ¼ ëª©ë¡ (ì‚­ì œ í›„)")
print(df.columns)

ğŸ“Œ ì»¬ëŸ¼ ëª©ë¡ (ì‚­ì œ í›„)
Index(['tm', 'line', 'station_number', 'name', 'direction', 'stn', 'TMP',
       'WSD', 'PCP', 'REH', 'si', 'ta_chi', 'congestion', 'year', 'month',
       'day', 'hour', 'datetime'],
      dtype='object')

In [19]:
nxy_path = 'data/ì§€í•˜ì² ì—­_nxy_ì •ì œë³¸.csv'
nxy_df = pd.read_csv(nxy_path, encoding='utf-8-sig')  # í•„ìš”ì‹œ 'euc-kr'ë¡œ

# ë¯¸ë¦¬ë³´ê¸°
print("ğŸ—ºï¸ ì—­ ì¢Œí‘œ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°")
display(nxy_df.head())

ğŸ—ºï¸ ì—­ ì¢Œí‘œ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°

,id,name,address,roadAddress,displayCode,displayName,city_id,city_name,point_x,point_y,routeType_id,routeType_name,transfers,nx,ny
0,100,ì†Œìš”ì‚°,ê²½ê¸°ë„ ë™ë‘ì²œì‹œ ìƒë´‰ì•”ë™ 126-3,ê²½ê¸°ë„ ë™ë‘ì²œì‹œ í‰í™”ë¡œ 2925,100,ì†Œìš”ì‚°ì—­,1000,ì„œìš¸,127.061049,37.948747,1,1í˜¸ì„,NaN,61,135
1,70134,ë…¸í¬,ë¶€ì‚°ê´‘ì—­ì‹œ ê¸ˆì •êµ¬ ë…¸í¬ë™ 133,ë¶€ì‚°ê´‘ì—­ì‹œ ê¸ˆì •êµ¬ ì¤‘ì•™ëŒ€ë¡œ 2238,134,ë…¸í¬ì—­,7000,ë¶€ì‚°,129.094817,35.283594,71,1í˜¸ì„,NaN,98,78
2,40146,ì•ˆì‹¬,ëŒ€êµ¬ê´‘ì—­ì‹œ ë™êµ¬ ê´´ì „ë™ 536-1,ëŒ€êµ¬ê´‘ì—­ì‹œ ë™êµ¬ ì•ˆì‹¬ë¡œ 455,146,ì•ˆì‹¬ì—­,4000,ëŒ€êµ¬,128.733868,35.871249,41,1í˜¸ì„,NaN,91,91
3,50129,í‰ë™,ê´‘ì£¼ê´‘ì—­ì‹œ ê´‘ì‚°êµ¬ ì›”ì „ë™ 51-23,ê´‘ì£¼ê´‘ì—­ì‹œ ê´‘ì‚°êµ¬ í‰ë™ë¡œ 870,119,í‰ë™ì—­,5000,ê´‘ì£¼,126.769559,35.124754,51,1í˜¸ì„,NaN,57,74
4,30122,ë°˜ì„,ëŒ€ì „ê´‘ì—­ì‹œ ìœ ì„±êµ¬ ë°˜ì„ë™ 685,ëŒ€ì „ê´‘ì—­ì‹œ ìœ ì„±êµ¬ ë¶ìœ ì„±ëŒ€ë¡œ 303,122,ë°˜ì„ì—­,3000,ëŒ€ì „,127.314616,36.392128,31,1í˜¸ì„,NaN,66,101

In [20]:
# name ê¸°ì¤€ìœ¼ë¡œ í˜¼ì¡ë„ dfì— nx, ny ë³‘í•©
df = df.merge(nxy_df[['name', 'nx', 'ny']], on='name', how='left')

# ë³‘í•© ê²°ê³¼ í™•ì¸
print("âœ… ë³‘í•© ì™„ë£Œ. ì¢Œí‘œ ì •ë³´ ì¶”ê°€ëœ ë¯¸ë¦¬ë³´ê¸°")
display(df[['name', 'nx', 'ny']].head())

âœ… ë³‘í•© ì™„ë£Œ. ì¢Œí‘œ ì •ë³´ ì¶”ê°€ëœ ë¯¸ë¦¬ë³´ê¸°

  name    nx     ny
0  ì„œìš¸ì—­  60.0  126.0
1  ì„œìš¸ì—­  60.0  126.0
2  ì„œìš¸ì—­  60.0  126.0
3  ì„œìš¸ì—­  60.0  126.0
4  ì„œìš¸ì—­  60.0  126.0

In [ ]:
# nx ë˜ëŠ” nyê°€ ê²°ì¸¡(NaN)ì¸ ê²½ìš° í•„í„°ë§
missing_coords = df[df['nx'].isna() | df['ny'].isna()]

# ì¤‘ë³µ ì œê±°ëœ ì—­ ì´ë¦„ë§Œ ì¶”ì¶œ
missing_station_names = missing_coords['name'].dropna().unique()

# ê²°ê³¼ ì¶œë ¥
print("âŒ nx, ny ì¢Œí‘œê°€ ì—†ëŠ” ì—­ ëª©ë¡:")
for name in missing_station_names:
    print(f"- {name}")

# ì „ì²´ ê°œìˆ˜ë„ ê°™ì´ ë³´ê¸°
print(f"\nì´ {len(missing_station_names)}ê°œ ì—­ì—ì„œ ì¢Œí‘œê°€ ëˆ„ë½ë˜ì—ˆìŠµë‹ˆë‹¤.")

âŒ nx, ny ì¢Œí‘œê°€ ì—†ëŠ” ì—­ ëª©ë¡:
- ì‹ ì´Œ(ì§€í•˜)
- ì„±ìˆ˜E
- ì‘ì•”S

ì´ 3ê°œ ì—­ì—ì„œ ì¢Œí‘œê°€ ëˆ„ë½ë˜ì—ˆìŠµë‹ˆë‹¤.

In [22]:
# 'ì‹ ì´Œ'ì´ í¬í•¨ëœ ì—­ëª… ê²€ìƒ‰
contains_sinchon = df[df['name'].str.contains('ì‹ ì´Œ', na=False)]

# ì¤‘ë³µ ì œê±° í›„ ì—­ëª… ë¦¬ìŠ¤íŠ¸ ì¶œë ¥
sinchon_stations = contains_sinchon['name'].dropna().unique()

print("ğŸ” 'ì‹ ì´Œ'ì´ í¬í•¨ëœ ì§€í•˜ì² ì—­ ëª©ë¡:")
for name in sinchon_stations:
    print(f"- {name}")

ğŸ” 'ì‹ ì´Œ'ì´ í¬í•¨ëœ ì§€í•˜ì² ì—­ ëª©ë¡:
- ì‹ ì´Œ(ì§€í•˜)

In [23]:
# 'ì‹ ì´Œ(ì§€í•˜)' â†’ 'ì‹ ì´Œ'ìœ¼ë¡œ ì—­ëª… ë³€ê²½
df['name'] = df['name'].replace('ì‹ ì´Œ(ì§€í•˜)', 'ì‹ ì´Œ')

In [29]:
# 2í˜¸ì„  + ì‹ ì´Œ ì¡°ê±´ì˜ ì—­ ì •ë³´ ì¶”ì¶œ
sinchon_nxy = nxy_df[(nxy_df['routeType_name'] == '2í˜¸ì„ ') & (nxy_df['name'] == 'ì‹ ì´Œ')]

print("ğŸ“ 2í˜¸ì„  ì‹ ì´Œì—­ (nxy) ì¢Œí‘œ ì •ë³´:")
display(sinchon_nxy)

ğŸ“ 2í˜¸ì„  ì‹ ì´Œì—­ (nxy) ì¢Œí‘œ ì •ë³´:

,id,name,address,roadAddress,displayCode,displayName,city_id,city_name,point_x,point_y,routeType_id,routeType_name,transfers,nx,ny
623,240,ì‹ ì´Œ,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ë…¸ê³ ì‚°ë™ 31-11,ì„œìš¸íŠ¹ë³„ì‹œ ë§ˆí¬êµ¬ ì‹ ì´Œë¡œ 90,240,ì‹ ì´Œì—­,1000,ì„œìš¸,126.936849,37.555183,2,2í˜¸ì„,NaN,59,126

In [31]:
# 1. nxy_dfì—ì„œ '2í˜¸ì„  ì‹ ì´Œì—­' ì¢Œí‘œ ì¶”ì¶œ
sinchon_coords = nxy_df[(nxy_df['routeType_name'] == '2í˜¸ì„ ') & (nxy_df['name'] == 'ì‹ ì´Œ')]

# 2. ì¢Œí‘œê°’ ì¶”ì¶œ
sinchon_nx = sinchon_coords['nx'].values[0]
sinchon_ny = sinchon_coords['ny'].values[0]

# 3. í˜¼ì¡ë„ dfì—ì„œ 'ì‹ ì´Œ' ì—­ ì „ì²´ì— ì¢Œí‘œ í• ë‹¹
df.loc[df['name'] == 'ì‹ ì´Œ', 'nx'] = sinchon_nx
df.loc[df['name'] == 'ì‹ ì´Œ', 'ny'] = sinchon_ny

In [32]:
# ì¢Œí‘œê°€ ì˜ ë“¤ì–´ê°”ëŠ”ì§€ í™•ì¸
df[df['name'] == 'ì‹ ì´Œ'][['name', 'nx', 'ny']].drop_duplicates()

       name    nx     ny
207900   ì‹ ì´Œ  59.0  126.0

In [33]:
# ì œê±°í•  í‚¤ì›Œë“œ ë¦¬ìŠ¤íŠ¸ (ì—­ ì´ë¦„ì˜ ì¼ë¶€)
keywords_to_remove = ['ì„±ìˆ˜E', 'ì‘ì•”S']

# ê° í‚¤ì›Œë“œê°€ í¬í•¨ëœ í–‰ ì œê±°
for keyword in keywords_to_remove:
    df = df[~df['name'].str.contains(keyword, na=False)]

print(f"âœ… ì‚­ì œ ì™„ë£Œ: ë‹¤ìŒ í‚¤ì›Œë“œê°€ í¬í•¨ëœ ì—­ë“¤ â†’ {keywords_to_remove}")

âœ… ì‚­ì œ ì™„ë£Œ: ë‹¤ìŒ í‚¤ì›Œë“œê°€ í¬í•¨ëœ ì—­ë“¤ â†’ ['ì„±ìˆ˜E', 'ì‘ì•”S']

In [34]:
output_path = 'data/í˜¼ì¡ë„_2022_ì •ì œ.csv'
df.to_csv(output_path, index=False, encoding='utf-8-sig')

print(f"ğŸ“ ì €ì¥ ì™„ë£Œ: {output_path}")

ğŸ“ ì €ì¥ ì™„ë£Œ: data/í˜¼ì¡ë„_2022_ì •ì œ.csv

In [35]:
import pandas as pd

# 1. CSV íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
file_path = 'data/í˜¼ì¡ë„_2023_í†µí•©.csv'
df = pd.read_csv(file_path, encoding='utf-8')  # í•„ìš”ì‹œ 'euc-kr'ë¡œ ë³€ê²½

# 2. ê¸°ë³¸ ì •ë³´ í™•ì¸
print("âœ… ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°")
display(df.head())

print("\nğŸ“Œ ì»¬ëŸ¼ ì •ë³´")
print(df.columns)

print("\nğŸ“Œ ê²°ì¸¡ì¹˜ ê°œìˆ˜")
print(df.isnull().sum())

print("\nğŸ“Œ ë°ì´í„° íƒ€ì…")
print(df.dtypes)

âœ… ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°

,tm,line,station_number,name,direction,stn,TMP,wd,WSD,rn_day,PCP,REH,si,ta_chi,congestion,year,month,day,hour,datetime
0,2023010100,1,150,ì„œìš¸ì—­,ìƒì„,419,0.3,318.0,3.4,0.0,0.0,66.5,-99.0,0.7,0,2023,1,1,0,2023-01-01 00:00:00
1,2023010101,1,150,ì„œìš¸ì—­,ìƒì„,419,0.6,293.8,3.4,0.0,0.0,67.5,-99.0,-0.6,0,2023,1,1,1,2023-01-01 00:01:00
2,2023010105,1,150,ì„œìš¸ì—­,ìƒì„,419,-0.8,29.6,3.7,0.0,0.0,55.1,-99.0,-2.2,3,2023,1,1,5,2023-01-01 00:05:00
3,2023010106,1,150,ì„œìš¸ì—­,ìƒì„,419,-1.8,48.1,3.4,0.0,0.0,62.8,-99.0,-4.0,6,2023,1,1,6,2023-01-01 00:06:00
4,2023010107,1,150,ì„œìš¸ì—­,ìƒì„,419,-2.6,21.4,2.9,0.0,0.0,68.8,-99.0,-2.8,5,2023,1,1,7,2023-01-01 00:07:00

ğŸ“Œ ì»¬ëŸ¼ ì •ë³´
Index(['tm', 'line', 'station_number', 'name', 'direction', 'stn', 'TMP', 'wd',
       'WSD', 'rn_day', 'PCP', 'REH', 'si', 'ta_chi', 'congestion', 'year',
       'month', 'day', 'hour', 'datetime'],
      dtype='object')

ğŸ“Œ ê²°ì¸¡ì¹˜ ê°œìˆ˜
tm                     0
line                   0
station_number         0
name                   0
direction              0
stn                    0
TMP               105748
wd                     0
WSD               108468
rn_day                 0
PCP               148548
REH               106130
si                     0
ta_chi                 0
congestion             0
year                   0
month                  0
day                    0
hour                   0
datetime               0
dtype: int64

ğŸ“Œ ë°ì´í„° íƒ€ì…
tm                  int64
line                int64
station_number      int64
name               object
direction          object
stn                 int64
TMP               float64
wd                float64
WSD               float64
rn_day            float64
PCP               float64
REH               float64
si                float64
ta_chi            float64
congestion          int64
year                int64
month               int64
day                 int64
hour                int64
datetime           object
dtype: object

In [36]:
# í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì‚­ì œ: wd(í’í–¥), rn_day(ì¼ê°•ìˆ˜ëŸ‰)
df.drop(columns=['wd', 'rn_day'], inplace=True)

# ì‚­ì œ í›„ ì»¬ëŸ¼ ëª©ë¡ í™•ì¸
print("ğŸ“Œ ì»¬ëŸ¼ ëª©ë¡ (ì‚­ì œ í›„)")
print(df.columns)

ğŸ“Œ ì»¬ëŸ¼ ëª©ë¡ (ì‚­ì œ í›„)
Index(['tm', 'line', 'station_number', 'name', 'direction', 'stn', 'TMP',
       'WSD', 'PCP', 'REH', 'si', 'ta_chi', 'congestion', 'year', 'month',
       'day', 'hour', 'datetime'],
      dtype='object')

In [37]:
nxy_path = 'data/ì§€í•˜ì² ì—­_nxy_ì •ì œë³¸.csv'
nxy_df = pd.read_csv(nxy_path, encoding='utf-8-sig')  # í•„ìš”ì‹œ 'euc-kr'ë¡œ

# ë¯¸ë¦¬ë³´ê¸°
print("ğŸ—ºï¸ ì—­ ì¢Œí‘œ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°")
display(nxy_df.head())

ğŸ—ºï¸ ì—­ ì¢Œí‘œ ë°ì´í„° ë¯¸ë¦¬ë³´ê¸°

,id,name,address,roadAddress,displayCode,displayName,city_id,city_name,point_x,point_y,routeType_id,routeType_name,transfers,nx,ny
0,100,ì†Œìš”ì‚°,ê²½ê¸°ë„ ë™ë‘ì²œì‹œ ìƒë´‰ì•”ë™ 126-3,ê²½ê¸°ë„ ë™ë‘ì²œì‹œ í‰í™”ë¡œ 2925,100,ì†Œìš”ì‚°ì—­,1000,ì„œìš¸,127.061049,37.948747,1,1í˜¸ì„,NaN,61,135
1,70134,ë…¸í¬,ë¶€ì‚°ê´‘ì—­ì‹œ ê¸ˆì •êµ¬ ë…¸í¬ë™ 133,ë¶€ì‚°ê´‘ì—­ì‹œ ê¸ˆì •êµ¬ ì¤‘ì•™ëŒ€ë¡œ 2238,134,ë…¸í¬ì—­,7000,ë¶€ì‚°,129.094817,35.283594,71,1í˜¸ì„,NaN,98,78
2,40146,ì•ˆì‹¬,ëŒ€êµ¬ê´‘ì—­ì‹œ ë™êµ¬ ê´´ì „ë™ 536-1,ëŒ€êµ¬ê´‘ì—­ì‹œ ë™êµ¬ ì•ˆì‹¬ë¡œ 455,146,ì•ˆì‹¬ì—­,4000,ëŒ€êµ¬,128.733868,35.871249,41,1í˜¸ì„,NaN,91,91
3,50129,í‰ë™,ê´‘ì£¼ê´‘ì—­ì‹œ ê´‘ì‚°êµ¬ ì›”ì „ë™ 51-23,ê´‘ì£¼ê´‘ì—­ì‹œ ê´‘ì‚°êµ¬ í‰ë™ë¡œ 870,119,í‰ë™ì—­,5000,ê´‘ì£¼,126.769559,35.124754,51,1í˜¸ì„,NaN,57,74
4,30122,ë°˜ì„,ëŒ€ì „ê´‘ì—­ì‹œ ìœ ì„±êµ¬ ë°˜ì„ë™ 685,ëŒ€ì „ê´‘ì—­ì‹œ ìœ ì„±êµ¬ ë¶ìœ ì„±ëŒ€ë¡œ 303,122,ë°˜ì„ì—­,3000,ëŒ€ì „,127.314616,36.392128,31,1í˜¸ì„,NaN,66,101

In [38]:
# name ê¸°ì¤€ìœ¼ë¡œ í˜¼ì¡ë„ dfì— nx, ny ë³‘í•©
df = df.merge(nxy_df[['name', 'nx', 'ny']], on='name', how='left')

# ë³‘í•© ê²°ê³¼ í™•ì¸
print("âœ… ë³‘í•© ì™„ë£Œ. ì¢Œí‘œ ì •ë³´ ì¶”ê°€ëœ ë¯¸ë¦¬ë³´ê¸°")
display(df[['name', 'nx', 'ny']].head())

âœ… ë³‘í•© ì™„ë£Œ. ì¢Œí‘œ ì •ë³´ ì¶”ê°€ëœ ë¯¸ë¦¬ë³´ê¸°

  name    nx     ny
0  ì„œìš¸ì—­  60.0  126.0
1  ì„œìš¸ì—­  60.0  126.0
2  ì„œìš¸ì—­  60.0  126.0
3  ì„œìš¸ì—­  60.0  126.0
4  ì„œìš¸ì—­  60.0  126.0

In [39]:
# nx ë˜ëŠ” nyê°€ ê²°ì¸¡(NaN)ì¸ ê²½ìš° í•„í„°ë§
missing_coords = df[df['nx'].isna() | df['ny'].isna()]

# ì¤‘ë³µ ì œê±°ëœ ì—­ ì´ë¦„ë§Œ ì¶”ì¶œ
missing_station_names = missing_coords['name'].dropna().unique()

# ê²°ê³¼ ì¶œë ¥
print("âŒ nx, ny ì¢Œí‘œê°€ ì—†ëŠ” ì—­ ëª©ë¡:")
for name in missing_station_names:
    print(f"- {name}")

# ì „ì²´ ê°œìˆ˜ë„ ê°™ì´ ë³´ê¸°
print(f"\nì´ {len(missing_station_names)}ê°œ ì—­ì—ì„œ ì¢Œí‘œê°€ ëˆ„ë½ë˜ì—ˆìŠµë‹ˆë‹¤.")

âŒ nx, ny ì¢Œí‘œê°€ ì—†ëŠ” ì—­ ëª©ë¡:
- ì‹ ì´Œ(ì§€í•˜)
- ì„±ìˆ˜E
- ì‘ì•”S
- ì²­ì‚°
- ì „ê³¡
- ì—°ì²œ

ì´ 6ê°œ ì—­ì—ì„œ ì¢Œí‘œê°€ ëˆ„ë½ë˜ì—ˆìŠµë‹ˆë‹¤.

In [40]:
# 'ì‹ ì´Œ'ì´ í¬í•¨ëœ ì—­ëª… ê²€ìƒ‰
contains_sinchon = df[df['name'].str.contains('ì‹ ì´Œ', na=False)]

# ì¤‘ë³µ ì œê±° í›„ ì—­ëª… ë¦¬ìŠ¤íŠ¸ ì¶œë ¥
sinchon_stations = contains_sinchon['name'].dropna().unique()

print("ğŸ” 'ì‹ ì´Œ'ì´ í¬í•¨ëœ ì§€í•˜ì² ì—­ ëª©ë¡:")
for name in sinchon_stations:
    print(f"- {name}")

ğŸ” 'ì‹ ì´Œ'ì´ í¬í•¨ëœ ì§€í•˜ì² ì—­ ëª©ë¡:
- ì‹ ì´Œ(ì§€í•˜)

In [41]:
# 'ì‹ ì´Œ(ì§€í•˜)' â†’ 'ì‹ ì´Œ'ìœ¼ë¡œ ì—­ëª… ë³€ê²½
df['name'] = df['name'].replace('ì‹ ì´Œ(ì§€í•˜)', 'ì‹ ì´Œ')

In [42]:
# 1. nxy_dfì—ì„œ '2í˜¸ì„  ì‹ ì´Œì—­' ì¢Œí‘œ ì¶”ì¶œ
sinchon_coords = nxy_df[(nxy_df['routeType_name'] == '2í˜¸ì„ ') & (nxy_df['name'] == 'ì‹ ì´Œ')]

# 2. ì¢Œí‘œê°’ ì¶”ì¶œ
sinchon_nx = sinchon_coords['nx'].values[0]
sinchon_ny = sinchon_coords['ny'].values[0]

# 3. í˜¼ì¡ë„ dfì—ì„œ 'ì‹ ì´Œ' ì—­ ì „ì²´ì— ì¢Œí‘œ í• ë‹¹
df.loc[df['name'] == 'ì‹ ì´Œ', 'nx'] = sinchon_nx
df.loc[df['name'] == 'ì‹ ì´Œ', 'ny'] = sinchon_ny

In [43]:
# ì¢Œí‘œê°€ ì˜ ë“¤ì–´ê°”ëŠ”ì§€ í™•ì¸
df[df['name'] == 'ì‹ ì´Œ'][['name', 'nx', 'ny']].drop_duplicates()

       name    nx     ny
214830   ì‹ ì´Œ  59.0  126.0

In [44]:
# ì œê±°í•  í‚¤ì›Œë“œ ë¦¬ìŠ¤íŠ¸ (ì—­ ì´ë¦„ì˜ ì¼ë¶€)
keywords_to_remove = ['ì„±ìˆ˜E', 'ì‘ì•”S']

# ê° í‚¤ì›Œë“œê°€ í¬í•¨ëœ í–‰ ì œê±°
for keyword in keywords_to_remove:
    df = df[~df['name'].str.contains(keyword, na=False)]

print(f"âœ… ì‚­ì œ ì™„ë£Œ: ë‹¤ìŒ í‚¤ì›Œë“œê°€ í¬í•¨ëœ ì—­ë“¤ â†’ {keywords_to_remove}")

âœ… ì‚­ì œ ì™„ë£Œ: ë‹¤ìŒ í‚¤ì›Œë“œê°€ í¬í•¨ëœ ì—­ë“¤ â†’ ['ì„±ìˆ˜E', 'ì‘ì•”S']

In [47]:
# ì¡°íšŒí•  ì—­ ë¦¬ìŠ¤íŠ¸
target_stations = ['ì²­ì‚°', 'ì „ê³¡', 'ì—°ì²œ']

# í•´ë‹¹ ì—­ë§Œ í•„í„°ë§
df_stations = df[df['name'].isin(target_stations)]

# ê²°ê³¼ ë¯¸ë¦¬ë³´ê¸°
print(f"ğŸ” í¬í•¨ëœ í–‰ ìˆ˜: {len(df_stations)}")
display(df_stations[['name', 'line', 'year', 'month', 'day', 'hour']].drop_duplicates().sort_values(by=['name', 'year', 'month', 'day', 'hour']).head(10))

ğŸ” í¬í•¨ëœ í–‰ ìˆ˜: 2016

        name  line  year  month  day  hour
7720730   ì—°ì²œ     1  2023     12   16     0
7720731   ì—°ì²œ     1  2023     12   16     1
7720732   ì—°ì²œ     1  2023     12   16     5
7720733   ì—°ì²œ     1  2023     12   16     6
7720734   ì—°ì²œ     1  2023     12   16     7
7720735   ì—°ì²œ     1  2023     12   16     8
7720736   ì—°ì²œ     1  2023     12   16     9
7720737   ì—°ì²œ     1  2023     12   16    10
7720738   ì—°ì²œ     1  2023     12   16    11
7720739   ì—°ì²œ     1  2023     12   16    12

In [48]:
import numpy as np

# ìƒˆ ì—­ ëª©ë¡ê³¼ ìœ„ê²½ë„ ì •ë³´
coords = {
    'ì²­ì‚°': {'lat': 37.99365314, 'lon': 127.07289117},
    'ì „ê³¡': {'lat': 38.02458719, 'lon': 127.07135565},
    'ì—°ì²œ': {'lat': 38.10154647, 'lon': 127.07422939}
}

# ê²©ì ì¢Œí‘œ ë³€í™˜ í•¨ìˆ˜
def latlon_to_grid(lat, lon):
    RE = 6371.00877  # Earth radius (km)
    GRID = 5.0       # Grid spacing (km)
    SLAT1 = 30.0     # Projection latitude 1 (degree)
    SLAT2 = 60.0     # Projection latitude 2 (degree)
    OLON = 126.0     # Reference longitude (degree)
    OLAT = 38.0      # Reference latitude (degree)
    XO = 43          # Reference point X
    YO = 136         # Reference point Y

    DEGRAD = np.pi / 180.0
    re = RE / GRID
    slat1 = SLAT1 * DEGRAD
    slat2 = SLAT2 * DEGRAD
    olon = OLON * DEGRAD
    olat = OLAT * DEGRAD

    sn = np.tan(np.pi * 0.25 + slat2 * 0.5) / np.tan(np.pi * 0.25 + slat1 * 0.5)
    sn = np.log(np.cos(slat1) / np.cos(slat2)) / np.log(sn)
    sf = np.tan(np.pi * 0.25 + slat1 * 0.5)
    sf = (sf ** sn * np.cos(slat1)) / sn
    ro = np.tan(np.pi * 0.25 + olat * 0.5)
    ro = re * sf / (ro ** sn)

    ra = np.tan(np.pi * 0.25 + lat * DEGRAD * 0.5)
    ra = re * sf / (ra ** sn)
    theta = lon * DEGRAD - olon
    if theta > np.pi:
        theta -= 2.0 * np.pi
    if theta < -np.pi:
        theta += 2.0 * np.pi
    theta *= sn

    x = ra * np.sin(theta) + XO
    y = ro - ra * np.cos(theta) + YO

    return int(x + 1.5), int(y + 1.5)

# í˜¼ì¡ë„ dfì— ì¢Œí‘œ ë°˜ì˜
for station, pos in coords.items():
    nx, ny = latlon_to_grid(pos['lat'], pos['lon'])
    df.loc[df['name'] == station, 'nx'] = nx
    df.loc[df['name'] == station, 'ny'] = ny

# ê²°ê³¼ í™•ì¸
print(df[df['name'].isin(coords.keys())][['name', 'nx', 'ny']].drop_duplicates())

        name    nx     ny
7719386   ì²­ì‚°  62.0  137.0
7720058   ì „ê³¡  62.0  138.0
7720730   ì—°ì²œ  62.0  139.0

In [49]:
# ì €ì¥ ê²½ë¡œ ì„¤ì •
output_path = 'data/í˜¼ì¡ë„_2022_ìµœì¢…ì •ì œë³¸.csv'

# CSVë¡œ ì €ì¥ (Excelì—ì„œë„ í•œê¸€ ê¹¨ì§ ì—†ì´ ì—´ë¦¬ë„ë¡ utf-8-sig ì¸ì½”ë”© ì‚¬ìš©)
df.to_csv(output_path, index=False, encoding='utf-8-sig')

print(f"ğŸ“ ì €ì¥ ì™„ë£Œ: {output_path}")

ğŸ“ ì €ì¥ ì™„ë£Œ: data/í˜¼ì¡ë„_2022_ìµœì¢…ì •ì œë³¸.csv