### 1) 데이터 불러오기 : import 및 info

In [48]:
import pandas as pd
df = pd.read_csv("merged_혼잡도_역특징_updated.csv")
df

C:\Users\holic\AppData\Local\Temp\ipykernel_3968\1621845594.py:2: DtypeWarning: Columns (25,32,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_혼잡도_역특징_updated.csv")

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,풍향,풍속,...,강남권/비강남권,구/동,환승호선수,지하철역X좌표,지하철역Y좌표,연계역번호,지하철역코드,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차),위도,경도
0,0,2022010100,1,150,서울역,상선,419,-9.4,61.0,3.5,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
1,1,2022010101,1,150,서울역,상선,419,-9.4,39.4,2.0,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
2,2,2022010105,1,150,서울역,상선,419,-9.7,350.9,0.9,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
3,3,2022010106,1,150,서울역,상선,419,-9.4,139.6,0.5,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
4,4,2022010107,1,150,서울역,상선,419,-10.1,173.6,2.7,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11496440,11607866,2023123119,8,2828,남위례,하선,572,0.6,0.0,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496441,11607867,2023123120,8,2828,남위례,하선,572,0.0,354.7,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496442,11607868,2023123121,8,2828,남위례,하선,572,-0.6,0.0,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496443,11607869,2023123122,8,2828,남위례,하선,572,-0.8,0.0,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496444,11607870,2023123123,8,2828,남위례,하선,572,-1.3,110.7,0.1,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11496445 entries, 0 to 11496444
Data columns (total 45 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Unnamed: 0                           int64
 1   연월일시                                 int64
 2   호선                                   int64
 3   역번호                                  int64
 4   역명                                   object
 5   상하구분                                 object
 6   AWS지점코드                              int64
 7   기온                                   float64
 8   풍향                                   float64
 9   풍속                                   float64
 10  일강수량                                 float64
 11  시간강수량                                float64
 12  상대습도                                 float64
 13  체감온도                                 float64
 14  혼잡도                                  int64
 15  year                                 int64
 16  month                                int64
 17  day                                  int64
 18  hour                                 int64
 19  datetime                             object
 20  nx                                   float64
 21  ny                                   float64
 22  지하철역ID                               int64
 23  지하철호선ID                              int64
 24  환승역여부                                object
 25  지상/지하                                object
 26  이전지하철역ID                             int64
 27  이전지하철역명                              object
 28  다음지하철역ID                             int64
 29  다음지하철역명                              object
 30  우편번호                                 float64
 31  기본주소                                 object
 32  상세주소                                 object
 33  도/시/군                                object
 34  구                                    object
 35  강남권/비강남권                             object
 36  구/동                                  object
 37  환승호선수                                int64
 38  지하철역X좌표                              float64
 39  지하철역Y좌표                              float64
 40  연계역번호                                object
 41  지하철역코드                               int64
 42  급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)  float64
 43  위도                                   float64
 44  경도                                   float64
dtypes: float64(15), int64(16), object(14)
memory usage: 3.9+ GB

### 2) 결측치 정제 : -99 인 값 결측치로 채움 (temp)

In [50]:
for col in df.columns:
    count = (df[col] == -99).sum()
    if count != 0:
        print(f"{col}: {count}개")

In [51]:
for col in df.columns:
    count = (df[col] == -99).sum()
    if count != 0:
        print(f"{col}: {count}개")
        df[col] = df[col].replace(-99, float('nan'))

In [52]:
df.isna().sum()

Unnamed: 0                                   0
연월일시                                         0
호선                                           0
역번호                                          0
역명                                           0
상하구분                                         0
AWS지점코드                                      0
기온                                       27106
풍향                                       33100
풍속                                       29706
일강수량                                     49416
시간강수량                                    50938
상대습도                                     28004
체감온도                                        22
혼잡도                                          0
year                                         0
month                                        0
day                                          0
hour                                         0
datetime                                     0
nx                                           0
ny                                           0
지하철역ID                                       0
지하철호선ID                                      0
환승역여부                                        0
지상/지하                                  3115181
이전지하철역ID                                     0
이전지하철역명                                      0
다음지하철역ID                                     0
다음지하철역명                                      0
우편번호                                     30030
기본주소                                         0
상세주소                                    942101
도/시/군                                        0
구                                            0
강남권/비강남권                                     0
구/동                                          0
환승호선수                                        0
지하철역X좌표                                  32046
지하철역Y좌표                                  32046
연계역번호                                        0
지하철역코드                                       0
급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)       2016
위도                                     3175241
경도                                     3175241
dtype: int64

In [56]:
df.to_csv("merged_혼잡도_역특징_결측치정제_updated.csv", index = False)

### 3) 정제한 새로운 파일 불러오기

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("merged_혼잡도_역특징_결측치정제_updated.csv")
df.head()

C:\Users\holic\AppData\Local\Temp\ipykernel_13524\3701322202.py:1: DtypeWarning: Columns (25,32,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_혼잡도_역특징_결측치정제_updated.csv")

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,풍향,풍속,...,강남권/비강남권,구/동,환승호선수,지하철역X좌표,지하철역Y좌표,연계역번호,지하철역코드,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차),위도,경도
0,0,2022010100,1,150,서울역,상선,419,-9.4,61.0,3.5,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.55315,126.972533
1,1,2022010101,1,150,서울역,상선,419,-9.4,39.4,2.0,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.55315,126.972533
2,2,2022010105,1,150,서울역,상선,419,-9.7,350.9,0.9,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.55315,126.972533
3,3,2022010106,1,150,서울역,상선,419,-9.4,139.6,0.5,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.55315,126.972533
4,4,2022010107,1,150,서울역,상선,419,-10.1,173.6,2.7,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.55315,126.972533

In [3]:
df.isna().sum()

Unnamed: 0                                   0
연월일시                                         0
호선                                           0
역번호                                          0
역명                                           0
상하구분                                         0
AWS지점코드                                      0
기온                                       27106
풍향                                       33100
풍속                                       29706
일강수량                                     49416
시간강수량                                    50938
상대습도                                     28004
체감온도                                        22
혼잡도                                          0
year                                         0
month                                        0
day                                          0
hour                                         0
datetime                                     0
nx                                           0
ny                                           0
지하철역ID                                       0
지하철호선ID                                      0
환승역여부                                        0
지상/지하                                  3115181
이전지하철역ID                                     0
이전지하철역명                                      0
다음지하철역ID                                     0
다음지하철역명                                      0
우편번호                                     30030
기본주소                                         0
상세주소                                    942101
도/시/군                                        0
구                                            0
강남권/비강남권                                     0
구/동                                          0
환승호선수                                        0
지하철역X좌표                                  32046
지하철역Y좌표                                  32046
연계역번호                                        0
지하철역코드                                       0
급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)       2016
위도                                     3175241
경도                                     3175241
dtype: int64

### 4) 불필요한 열 제거

In [4]:
col = ['위도','경도','지하철역X좌표','지하철역Y좌표','풍향','풍속']
df = df.drop(columns = col, axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11496445 entries, 0 to 11496444
Data columns (total 39 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Unnamed: 0                           int64
 1   연월일시                                 int64
 2   호선                                   int64
 3   역번호                                  int64
 4   역명                                   object
 5   상하구분                                 object
 6   AWS지점코드                              int64
 7   기온                                   float64
 8   일강수량                                 float64
 9   시간강수량                                float64
 10  상대습도                                 float64
 11  체감온도                                 float64
 12  혼잡도                                  int64
 13  year                                 int64
 14  month                                int64
 15  day                                  int64
 16  hour                                 int64
 17  datetime                             object
 18  nx                                   float64
 19  ny                                   float64
 20  지하철역ID                               int64
 21  지하철호선ID                              int64
 22  환승역여부                                object
 23  지상/지하                                object
 24  이전지하철역ID                             int64
 25  이전지하철역명                              object
 26  다음지하철역ID                             int64
 27  다음지하철역명                              object
 28  우편번호                                 float64
 29  기본주소                                 object
 30  상세주소                                 object
 31  도/시/군                                object
 32  구                                    object
 33  강남권/비강남권                             object
 34  구/동                                  object
 35  환승호선수                                int64
 36  연계역번호                                object
 37  지하철역코드                               int64
 38  급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)  float64
dtypes: float64(9), int64(16), object(14)
memory usage: 3.3+ GB

In [5]:
col = ['연계역번호','지하철역코드','우편번호','상세주소','nx','ny']
df = df.drop(columns = col, axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11496445 entries, 0 to 11496444
Data columns (total 33 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Unnamed: 0                           int64
 1   연월일시                                 int64
 2   호선                                   int64
 3   역번호                                  int64
 4   역명                                   object
 5   상하구분                                 object
 6   AWS지점코드                              int64
 7   기온                                   float64
 8   일강수량                                 float64
 9   시간강수량                                float64
 10  상대습도                                 float64
 11  체감온도                                 float64
 12  혼잡도                                  int64
 13  year                                 int64
 14  month                                int64
 15  day                                  int64
 16  hour                                 int64
 17  datetime                             object
 18  지하철역ID                               int64
 19  지하철호선ID                              int64
 20  환승역여부                                object
 21  지상/지하                                object
 22  이전지하철역ID                             int64
 23  이전지하철역명                              object
 24  다음지하철역ID                             int64
 25  다음지하철역명                              object
 26  기본주소                                 object
 27  도/시/군                                object
 28  구                                    object
 29  강남권/비강남권                             object
 30  구/동                                  object
 31  환승호선수                                int64
 32  급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)  float64
dtypes: float64(6), int64(15), object(12)
memory usage: 2.8+ GB

In [6]:
df.iloc[0,:]

Unnamed: 0                                               0
연월일시                                            2022010100
호선                                                       1
역번호                                                    150
역명                                                     서울역
상하구분                                                    상선
AWS지점코드                                                419
기온                                                    -9.4
일강수량                                                   0.0
시간강수량                                                  0.0
상대습도                                                  34.0
체감온도                                                 -12.8
혼잡도                                                      0
year                                                  2022
month                                                    1
day                                                      1
hour                                                     0
datetime                               2022-01-01 00:00:00
지하철역ID                                          1001000133
지하철호선ID                                               1001
환승역여부                                                    O
지상/지하                                                   지하
이전지하철역ID                                        1001000132
이전지하철역명                                                 시청
다음지하철역ID                                        1001000134
다음지하철역명                                                 남영
기본주소                                         서울특별시 용산구 동자동
도/시/군                                                서울특별시
구                                                      용산구
강남권/비강남권                                              비강남권
구/동                                                    동자동
환승호선수                                                    4
급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)                    3.0
Name: 0, dtype: object

In [7]:
df.to_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv", index = False)

In [8]:
df = pd.read_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv")

C:\Users\holic\AppData\Local\Temp\ipykernel_13524\2503792139.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv")

In [9]:
df.head()

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,일강수량,시간강수량,...,이전지하철역명,다음지하철역ID,다음지하철역명,기본주소,도/시/군,구,강남권/비강남권,구/동,환승호선수,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)
0,0,2022010100,1,150,서울역,상선,419,-9.4,0.0,0.0,...,시청,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0
1,1,2022010101,1,150,서울역,상선,419,-9.4,0.0,0.0,...,시청,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0
2,2,2022010105,1,150,서울역,상선,419,-9.7,0.0,0.0,...,시청,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0
3,3,2022010106,1,150,서울역,상선,419,-9.4,0.0,0.0,...,시청,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0
4,4,2022010107,1,150,서울역,상선,419,-10.1,0.0,0.0,...,시청,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0

In [10]:
def classify_wind_chill(temp):
    # 겨울 기준
    if temp < -15.4:
        return '위험(겨울)'
    elif -15.4 <= temp < -10.5:
        return '경고(겨울)'
    elif -10.5 <= temp < -3.2:
        return '주의(겨울)'
    elif -3.2 <= temp < 0:
        return '관심(겨울)'
    # 여름 기준
    elif 31 <= temp < 33:
        return '관심(여름)'
    elif 33 <= temp < 35:
        return '주의(여름)'
    elif 35 <= temp < 38:
        return '경고(여름)'
    elif temp >= 38:
        return '위험(여름)'
    else:
        return '일반'

# 적용
df['체감온도구간'] = df['체감온도'].apply(classify_wind_chill)

print(df)

          Unnamed: 0        연월일시  호선   역번호   역명 상하구분  AWS지점코드    기온  일강수량  \
0                  0  2022010100   1   150  서울역   상선      419  -9.4   0.0
1                  1  2022010101   1   150  서울역   상선      419  -9.4   0.0
2                  2  2022010105   1   150  서울역   상선      419  -9.7   0.0
3                  3  2022010106   1   150  서울역   상선      419  -9.4   0.0
4                  4  2022010107   1   150  서울역   상선      419 -10.1   0.0
...              ...         ...  ..   ...  ...  ...      ...   ...   ...
11496440    11607866  2023123119   8  2828  남위례   하선      572   0.6   7.0
11496441    11607867  2023123120   8  2828  남위례   하선      572   0.0   7.0
11496442    11607868  2023123121   8  2828  남위례   하선      572  -0.6   7.0
11496443    11607869  2023123122   8  2828  남위례   하선      572  -0.8   7.0
11496444    11607870  2023123123   8  2828  남위례   하선      572  -1.3   7.0

          시간강수량  ...    다음지하철역ID  다음지하철역명             기본주소    도/시/군    구  \
0           0.0  ...  1001000134       남영    서울특별시 용산구 동자동    서울특별시  용산구
1           0.0  ...  1001000134       남영    서울특별시 용산구 동자동    서울특별시  용산구
2           0.0  ...  1001000134       남영    서울특별시 용산구 동자동    서울특별시  용산구
3           0.0  ...  1001000134       남영    서울특별시 용산구 동자동    서울특별시  용산구
4           0.0  ...  1001000134       남영    서울특별시 용산구 동자동    서울특별시  용산구
...         ...  ...         ...      ...              ...      ...  ...
11496440    0.0  ...  1008000822       산성  경기도 성남시 수정구 공원로  경기도 성남시  성남시
11496441    0.0  ...  1008000822       산성  경기도 성남시 수정구 공원로  경기도 성남시  성남시
11496442    0.0  ...  1008000822       산성  경기도 성남시 수정구 공원로  경기도 성남시  성남시
11496443    0.0  ...  1008000822       산성  경기도 성남시 수정구 공원로  경기도 성남시  성남시
11496444    0.0  ...  1008000822       산성  경기도 성남시 수정구 공원로  경기도 성남시  성남시

          강남권/비강남권  구/동 환승호선수  급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)  체감온도구간
0             비강남권  동자동     4                                  3.0  경고(겨울)
1             비강남권  동자동     4                                  3.0  주의(겨울)
2             비강남권  동자동     4                                  3.0  경고(겨울)
3             비강남권  동자동     4                                  3.0  경고(겨울)
4             비강남권  동자동     4                                  3.0  경고(겨울)
...            ...  ...   ...                                  ...     ...
11496440         -  수정구     1                                  0.0      일반
11496441         -  수정구     1                                  0.0  관심(겨울)
11496442         -  수정구     1                                  0.0  관심(겨울)
11496443         -  수정구     1                                  0.0  관심(겨울)
11496444         -  수정구     1                                  0.0  관심(겨울)

[11496445 rows x 34 columns]

In [11]:
df[['체감온도구간','체감온도']].sample(10)

         체감온도구간  체감온도
637503       일반   4.3
2812740      일반  27.5
2725573      일반  27.5
7531619      일반  16.0
7631396      일반  16.1
5306711  주의(겨울) -10.5
868845       일반   4.8
5480530  주의(겨울)  -5.5
4172620      일반  19.7
7466186      일반  19.7

In [12]:
df

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,일강수량,시간강수량,...,다음지하철역ID,다음지하철역명,기본주소,도/시/군,구,강남권/비강남권,구/동,환승호선수,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차),체감온도구간
0,0,2022010100,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
1,1,2022010101,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,주의(겨울)
2,2,2022010105,1,150,서울역,상선,419,-9.7,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
3,3,2022010106,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
4,4,2022010107,1,150,서울역,상선,419,-10.1,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11496440,11607866,2023123119,8,2828,남위례,하선,572,0.6,7.0,0.0,...,1008000822,산성,경기도 성남시 수정구 공원로,경기도 성남시,성남시,-,수정구,1,0.0,일반
11496441,11607867,2023123120,8,2828,남위례,하선,572,0.0,7.0,0.0,...,1008000822,산성,경기도 성남시 수정구 공원로,경기도 성남시,성남시,-,수정구,1,0.0,관심(겨울)
11496442,11607868,2023123121,8,2828,남위례,하선,572,-0.6,7.0,0.0,...,1008000822,산성,경기도 성남시 수정구 공원로,경기도 성남시,성남시,-,수정구,1,0.0,관심(겨울)
11496443,11607869,2023123122,8,2828,남위례,하선,572,-0.8,7.0,0.0,...,1008000822,산성,경기도 성남시 수정구 공원로,경기도 성남시,성남시,-,수정구,1,0.0,관심(겨울)
11496444,11607870,2023123123,8,2828,남위례,하선,572,-1.3,7.0,0.0,...,1008000822,산성,경기도 성남시 수정구 공원로,경기도 성남시,성남시,-,수정구,1,0.0,관심(겨울)

In [13]:
df[['체감온도구간','체감온도']].isnull()

          체감온도구간   체감온도
0          False  False
1          False  False
2          False  False
3          False  False
4          False  False
...          ...    ...
11496440   False  False
11496441   False  False
11496442   False  False
11496443   False  False
11496444   False  False

[11496445 rows x 2 columns]

In [14]:
df.to_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv", index = False)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv")
df['호선'].value_counts()

C:\Users\holic\AppData\Local\Temp\ipykernel_12136\371499441.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv")

호선
1    1983996
7    1671725
5    1531528
2    1501500
4    1501500
3    1474366
6    1261260
8     570570
Name: count, dtype: int64

### 5) 환승역 추가 정제

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv")
df.head()

C:\Users\holic\AppData\Local\Temp\ipykernel_18192\3553072407.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_혼잡도_역특징_전처리완료_테블로진행용.csv")

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,일강수량,시간강수량,...,다음지하철역ID,다음지하철역명,기본주소,도/시/군,구,강남권/비강남권,구/동,환승호선수,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차),체감온도구간
0,0,2022010100,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
1,1,2022010101,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,주의(겨울)
2,2,2022010105,1,150,서울역,상선,419,-9.7,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
3,3,2022010106,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
4,4,2022010107,1,150,서울역,상선,419,-10.1,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)

In [3]:
# 역별로 변경할 값을 딕셔너리로 정리
update_dict = {
    "대방": "O",
    "신림": "O",
    "올림픽공원": "O",
    "양평": "X",
    "보라매": "O",
    "구리": "O",
    "별내": "O",
    "샛강": "O",
    "달월": "X",
    "월곶": "X",
    "소래포구": "X",
    "인천논현": "X",
    "호구포": "X",
    "남동인더스파크": "X",
    "연수": "X",
    "송도": "X",
    "인하대": "X",
    "숭의": "X",
    "신포": "X"
}

# 역명 열이 '역명', 환승 여부 열이 '환승역여부'라고 가정
df["환승역여부"] = df.apply(
    lambda row: update_dict[row["역명"]] if row["역명"] in update_dict else row["환승역여부"],
    axis=1
)

In [4]:
# 확인할 역 목록
check_stations = list(update_dict.keys())

# 변경된 값 확인
df[df["역명"].isin(check_stations)][["역명", "환승역여부"]]

           역명 환승역여부
20160      대방     O
20161      대방     O
20162      대방     O
20163      대방     O
20164      대방     O
...       ...   ...
11446964  보라매     O
11446965  보라매     O
11446966  보라매     O
11446967  보라매     O
11446968  보라매     O

[150150 rows x 2 columns]

In [5]:
df.head()

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,일강수량,시간강수량,...,다음지하철역ID,다음지하철역명,기본주소,도/시/군,구,강남권/비강남권,구/동,환승호선수,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차),체감온도구간
0,0,2022010100,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
1,1,2022010101,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,주의(겨울)
2,2,2022010105,1,150,서울역,상선,419,-9.7,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
3,3,2022010106,1,150,서울역,상선,419,-9.4,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)
4,4,2022010107,1,150,서울역,상선,419,-10.1,0.0,0.0,...,1001000134,남영,서울특별시 용산구 동자동,서울특별시,용산구,비강남권,동자동,4,3.0,경고(겨울)

In [7]:
df.to_csv("merged_테블로진행용_updated.csv", index=False)

In [8]:
df['환승역여부'].value_counts()

환승역여부
X    6974139
O    4522306
Name: count, dtype: int64

In [15]:
환승역만 = df.groupby("역명")["환승역여부"].apply(lambda x: ", ".join(x.dropna().unique())).to_frame().reset_index()

In [19]:
환승역만.to_excel("환승역체킹.xlsx", index=False)

In [23]:
df.isnull().sum()[df.isnull().sum() > 0]

기온                                       27106
일강수량                                     49416
시간강수량                                    50938
상대습도                                     28004
체감온도                                        22
지상/지하                                  3115181
급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)       2016
dtype: int64

In [25]:
df['역명'].nunique()

318

In [6]:
df.head()

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,일강수량,시간강수량,...,구/동,환승호선수,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차),체감온도구간,이전_도/시/군,이전_구,이전_구/동,다음_도/시/군,다음_구,다음_구/동
0,0,2022010100,1,150,서울역,상선,419,-9.4,0.0,0.0,...,동자동,4,3.0,경고(겨울),서울특별시,중구,태평로1가,서울특별시,용산구,갈월동
1,1,2022010101,1,150,서울역,상선,419,-9.4,0.0,0.0,...,동자동,4,3.0,주의(겨울),서울특별시,중구,태평로1가,서울특별시,용산구,갈월동
2,2,2022010105,1,150,서울역,상선,419,-9.7,0.0,0.0,...,동자동,4,3.0,경고(겨울),서울특별시,중구,태평로1가,서울특별시,용산구,갈월동
3,3,2022010106,1,150,서울역,상선,419,-9.4,0.0,0.0,...,동자동,4,3.0,경고(겨울),서울특별시,중구,태평로1가,서울특별시,용산구,갈월동
4,4,2022010107,1,150,서울역,상선,419,-10.1,0.0,0.0,...,동자동,4,3.0,경고(겨울),서울특별시,중구,태평로1가,서울특별시,용산구,갈월동

### 6) 위경도 매핑

In [2]:
import pandas as pd
df = pd.read_csv("merged_혼잡도_역특징_updated.csv")
df

C:\Users\holic\AppData\Local\Temp\ipykernel_17380\1621845594.py:2: DtypeWarning: Columns (25,32,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_혼잡도_역특징_updated.csv")

,Unnamed: 0,연월일시,호선,역번호,역명,상하구분,AWS지점코드,기온,풍향,풍속,...,강남권/비강남권,구/동,환승호선수,지하철역X좌표,지하철역Y좌표,연계역번호,지하철역코드,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차),위도,경도
0,0,2022010100,1,150,서울역,상선,419,-9.4,61.0,3.5,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
1,1,2022010101,1,150,서울역,상선,419,-9.4,39.4,2.0,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
2,2,2022010105,1,150,서울역,상선,419,-9.7,350.9,0.9,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
3,3,2022010106,1,150,서울역,상선,419,-9.4,139.6,0.5,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
4,4,2022010107,1,150,서울역,상선,419,-10.1,173.6,2.7,...,비강남권,동자동,4,197529.9154,450688.4645,133,240,3.0,37.553150,126.972533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11496440,11607866,2023123119,8,2828,남위례,하선,572,0.6,0.0,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496441,11607867,2023123120,8,2828,남위례,하선,572,0.0,354.7,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496442,11607868,2023123121,8,2828,남위례,하선,572,-0.6,0.0,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496443,11607869,2023123122,8,2828,남위례,하선,572,-0.8,0.0,0.0,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047
11496444,11607870,2023123123,8,2828,남위례,하선,572,-1.3,110.7,0.1,...,-,수정구,1,NaN,NaN,821,50,0.0,37.462839,127.139047

In [3]:
# 역별로 변경할 값을 딕셔너리로 정리
update_dict = {
    "대방": "O",
    "신림": "O",
    "올림픽공원": "O",
    "양평": "X",
    "보라매": "O",
    "구리": "O",
    "별내": "O",
    "샛강": "O",
    "달월": "X",
    "월곶": "X",
    "소래포구": "X",
    "인천논현": "X",
    "호구포": "X",
    "남동인더스파크": "X",
    "연수": "X",
    "송도": "X",
    "인하대": "X",
    "숭의": "X",
    "신포": "X"
}

# 역명 열이 '역명', 환승 여부 열이 '환승역여부'라고 가정
df["환승역여부"] = df.apply(
    lambda row: update_dict[row["역명"]] if row["역명"] in update_dict else row["환승역여부"],
    axis=1
)

In [4]:
df['환승역여부'].value_counts()

환승역여부
X    6974139
O    4522306
Name: count, dtype: int64

In [5]:
df.isnull().sum()[df.isnull().sum() > 0]

기온                                       27106
풍향                                       33100
풍속                                       29706
일강수량                                     49416
시간강수량                                    50938
상대습도                                     28004
체감온도                                        22
지상/지하                                  3115181
우편번호                                     30030
상세주소                                    942101
지하철역X좌표                                  32046
지하철역Y좌표                                  32046
급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)       2016
위도                                     3175241
경도                                     3175241
dtype: int64

In [6]:
col = ['위도','경도','급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)']
df = df.drop(columns = col, axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11496445 entries, 0 to 11496444
Data columns (total 42 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   연월일시        int64
 2   호선          int64
 3   역번호         int64
 4   역명          object
 5   상하구분        object
 6   AWS지점코드     int64
 7   기온          float64
 8   풍향          float64
 9   풍속          float64
 10  일강수량        float64
 11  시간강수량       float64
 12  상대습도        float64
 13  체감온도        float64
 14  혼잡도         int64
 15  year        int64
 16  month       int64
 17  day         int64
 18  hour        int64
 19  datetime    object
 20  nx          float64
 21  ny          float64
 22  지하철역ID      int64
 23  지하철호선ID     int64
 24  환승역여부       object
 25  지상/지하       object
 26  이전지하철역ID    int64
 27  이전지하철역명     object
 28  다음지하철역ID    int64
 29  다음지하철역명     object
 30  우편번호        float64
 31  기본주소        object
 32  상세주소        object
 33  도/시/군       object
 34  구           object
 35  강남권/비강남권    object
 36  구/동         object
 37  환승호선수       int64
 38  지하철역X좌표     float64
 39  지하철역Y좌표     float64
 40  연계역번호       object
 41  지하철역코드      int64
dtypes: float64(12), int64(16), object(14)
memory usage: 3.6+ GB

In [7]:
import math
NX = 149            ## X축 격자점 수
NY = 253            ## Y축 격자점 수

Re = 6371.00877     ##  지도반경
grid = 5.0          ##  격자간격 (km)
slat1 = 30.0        ##  표준위도 1
slat2 = 60.0        ##  표준위도 2
olon = 126.0        ##  기준점 경도
olat = 38.0         ##  기준점 위도
xo = 210 / grid     ##  기준점 X좌표
yo = 675 / grid     ##  기준점 Y좌표
first = 0

if first == 0 :
    PI = math.asin(1.0) * 2.0
    DEGRAD = PI/ 180.0
    RADDEG = 180.0 / PI


    re = Re / grid
    slat1 = slat1 * DEGRAD
    slat2 = slat2 * DEGRAD
    olon = olon * DEGRAD
    olat = olat * DEGRAD

    sn = math.tan(PI * 0.25 + slat2 * 0.5) / math.tan(PI * 0.25 + slat1 * 0.5)
    sn = math.log(math.cos(slat1) / math.cos(slat2)) / math.log(sn)
    sf = math.tan(PI * 0.25 + slat1 * 0.5)
    sf = math.pow(sf, sn) * math.cos(slat1) / sn
    ro = math.tan(PI * 0.25 + olat * 0.5)
    ro = re * sf / math.pow(ro, sn)
    first = 1

def mapToGrid(lat, lon, code = 0 ):
    ra = math.tan(PI * 0.25 + lat * DEGRAD * 0.5)
    ra = re * sf / pow(ra, sn)
    theta = lon * DEGRAD - olon
    if theta > PI :
        theta -= 2.0 * PI
    if theta < -PI :
        theta += 2.0 * PI
    theta *= sn
    x = (ra * math.sin(theta)) + xo
    y = (ro - ra * math.cos(theta)) + yo
    x = int(x + 1.5)
    y = int(y + 1.5)
    return x, y

def gridToMap(x, y, code = 1):
    x = x - 1
    y = y - 1
    xn = x - xo
    yn = ro - y + yo
    ra = math.sqrt(xn * xn + yn * yn)
    if sn < 0.0 :
        ra = -ra
    alat = math.pow((re * sf / ra), (1.0 / sn))
    alat = 2.0 * math.atan(alat) - PI * 0.5
    if math.fabs(xn) <= 0.0 :
        theta = 0.0
    else :
        if math.fabs(yn) <= 0.0 :
            theta = PI * 0.5
            if xn < 0.0 :
                theta = -theta
        else :
            theta = math.atan2(xn, yn)
    alon = theta / sn + olon
    lat = alat * RADDEG
    lon = alon * RADDEG

    return lat, lon


chunksize = 1000
results = []

for start in range(0, len(df), chunksize):
    end = start + chunksize
    chunk = df.iloc[start:end].copy()

    chunk[['위도', '경도']] = chunk.apply(
        lambda row: pd.Series(gridToMap(row['nx'], row['ny'])), axis=1
    )
    
    results.append(chunk)

df_converted = pd.concat(results, ignore_index=True)

print(df_converted)

          Unnamed: 0        연월일시  호선   역번호   역명 상하구분  AWS지점코드    기온     풍향  \
0                  0  2022010100   1   150  서울역   상선      419  -9.4   61.0
1                  1  2022010101   1   150  서울역   상선      419  -9.4   39.4
2                  2  2022010105   1   150  서울역   상선      419  -9.7  350.9
3                  3  2022010106   1   150  서울역   상선      419  -9.4  139.6
4                  4  2022010107   1   150  서울역   상선      419 -10.1  173.6
...              ...         ...  ..   ...  ...  ...      ...   ...    ...
11496440    11607866  2023123119   8  2828  남위례   하선      572   0.6    0.0
11496441    11607867  2023123120   8  2828  남위례   하선      572   0.0  354.7
11496442    11607868  2023123121   8  2828  남위례   하선      572  -0.6    0.0
11496443    11607869  2023123122   8  2828  남위례   하선      572  -0.8    0.0
11496444    11607870  2023123123   8  2828  남위례   하선      572  -1.3  110.7

           풍속  ...    구  강남권/비강남권  구/동  환승호선수      지하철역X좌표      지하철역Y좌표  \
0         3.5  ...  용산구      비강남권  동자동      4  197529.9154  450688.4645
1         2.0  ...  용산구      비강남권  동자동      4  197529.9154  450688.4645
2         0.9  ...  용산구      비강남권  동자동      4  197529.9154  450688.4645
3         0.5  ...  용산구      비강남권  동자동      4  197529.9154  450688.4645
4         2.7  ...  용산구      비강남권  동자동      4  197529.9154  450688.4645
...       ...  ...  ...       ...  ...    ...          ...          ...
11496440  0.0  ...  성남시         -  수정구      1          NaN          NaN
11496441  0.0  ...  성남시         -  수정구      1          NaN          NaN
11496442  0.0  ...  성남시         -  수정구      1          NaN          NaN
11496443  0.0  ...  성남시         -  수정구      1          NaN          NaN
11496444  0.1  ...  성남시         -  수정구      1          NaN          NaN

          연계역번호  지하철역코드         위도          경도
0           133     240  37.533757  126.988634
1           133     240  37.533757  126.988634
2           133     240  37.533757  126.988634
3           133     240  37.533757  126.988634
4           133     240  37.533757  126.988634
...         ...     ...        ...         ...
11496440    821      50  37.439687  127.161389
11496441    821      50  37.439687  127.161389
11496442    821      50  37.439687  127.161389
11496443    821      50  37.439687  127.161389
11496444    821      50  37.439687  127.161389

[11496445 rows x 44 columns]

In [8]:
df_converted[['nx','ny','위도','경도']].sample(10)

            nx     ny         위도          경도
3488513   60.0  126.0  37.533757  126.988634
5546339   64.0  127.0  37.577324  127.222108
10572725  58.0  125.0  37.488718  126.871701
3827405   98.0   76.0  35.190980  129.085061
3703735   60.0  127.0  37.579871  126.989352
2687765   60.0  126.0  37.533757  126.988634
2348626   61.0  127.0  37.579285  127.047543
10735398  61.0  128.0  37.625403  127.048305
3009843   62.0  125.0  37.486443  127.104128
5036903   59.0  122.0  37.349900  126.927789

In [12]:
# (지하철역ID, 역명) 조합별로 첫 번째 행만 뽑아서 고유값 DataFrame 만들기
unique_stations = df_converted.drop_duplicates(subset=['지하철역ID', '역명'])

# 딕셔너리 생성
lat_dict = unique_stations.set_index(['지하철역ID', '역명'])['위도'].to_dict()
lon_dict = unique_stations.set_index(['지하철역ID', '역명'])['경도'].to_dict()

# 매핑 적용
df_converted['이전_위도'] = df_converted.apply(
    lambda row: lat_dict.get((row['이전지하철역ID'], row['이전지하철역명'])), axis=1
)
df_converted['이전_경도'] = df_converted.apply(
    lambda row: lon_dict.get((row['이전지하철역ID'], row['이전지하철역명'])), axis=1
)
df_converted['다음_위도'] = df_converted.apply(
    lambda row: lat_dict.get((row['다음지하철역ID'], row['다음지하철역명'])), axis=1
)
df_converted['다음_경도'] = df_converted.apply(
    lambda row: lon_dict.get((row['다음지하철역ID'], row['다음지하철역명'])), axis=1
)
print(df_converted)

          Unnamed: 0        연월일시  호선   역번호   역명 상하구분  AWS지점코드    기온     풍향  \
0                  0  2022010100   1   150  서울역   상선      419  -9.4   61.0
1                  1  2022010101   1   150  서울역   상선      419  -9.4   39.4
2                  2  2022010105   1   150  서울역   상선      419  -9.7  350.9
3                  3  2022010106   1   150  서울역   상선      419  -9.4  139.6
4                  4  2022010107   1   150  서울역   상선      419 -10.1  173.6
...              ...         ...  ..   ...  ...  ...      ...   ...    ...
11496440    11607866  2023123119   8  2828  남위례   하선      572   0.6    0.0
11496441    11607867  2023123120   8  2828  남위례   하선      572   0.0  354.7
11496442    11607868  2023123121   8  2828  남위례   하선      572  -0.6    0.0
11496443    11607869  2023123122   8  2828  남위례   하선      572  -0.8    0.0
11496444    11607870  2023123123   8  2828  남위례   하선      572  -1.3  110.7

           풍속  ...      지하철역X좌표      지하철역Y좌표  연계역번호  지하철역코드         위도  \
0         3.5  ...  197529.9154  450688.4645    133     240  37.533757
1         2.0  ...  197529.9154  450688.4645    133     240  37.533757
2         0.9  ...  197529.9154  450688.4645    133     240  37.533757
3         0.5  ...  197529.9154  450688.4645    133     240  37.533757
4         2.7  ...  197529.9154  450688.4645    133     240  37.533757
...       ...  ...          ...          ...    ...     ...        ...
11496440  0.0  ...          NaN          NaN    821      50  37.439687
11496441  0.0  ...          NaN          NaN    821      50  37.439687
11496442  0.0  ...          NaN          NaN    821      50  37.439687
11496443  0.0  ...          NaN          NaN    821      50  37.439687
11496444  0.1  ...          NaN          NaN    821      50  37.439687

                  경도      이전_위도       이전_경도      다음_위도       다음_경도
0         126.988634  36.331901  127.369785  37.533757  126.988634
1         126.988634  36.331901  127.369785  37.533757  126.988634
2         126.988634  36.331901  127.369785  37.533757  126.988634
3         126.988634  36.331901  127.369785  37.533757  126.988634
4         126.988634  36.331901  127.369785  37.533757  126.988634
...              ...        ...         ...        ...         ...
11496440  127.161389  37.486443  127.104128  37.439687  127.161389
11496441  127.161389  37.486443  127.104128  37.439687  127.161389
11496442  127.161389  37.486443  127.104128  37.439687  127.161389
11496443  127.161389  37.486443  127.104128  37.439687  127.161389
11496444  127.161389  37.486443  127.104128  37.439687  127.161389

[11496445 rows x 48 columns]

In [14]:
df_converted.to_csv("merged_테블로진행용_updated_구간.csv", index=False)

In [1]:
import pandas as pd

In [ ]:
import pandas as pd
# csv파일 불러오기
csv = pd.read_csv('merged_테블로진행용_updated_구간.csv',encoding='cp949')
print(csv.head())

# 데이터프레임 주소값 추출
address= csv['기본주소']
print(address.head())


# 주소 데이터 깔끔하게 다듬기
for i in range(len(address)):
    a = address[i].split(' ')
    address[i] = " ".join(a[0:4])
print(address)

####### 도로명주소 위도 경도 값으로 바꿔주기 ########
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

# 위도, 경도 반환하는 함수
def geocoding(address):
    try:
        geo = geo_local.geocode(address)
        x_y = [geo.latitude, geo.longitude]
        return x_y

    except:
        return [0,0]




#####주소를 위,경도 값으로 변환하기 #####
latitude = []
longitude =[]

for i in address:
    latitude.append(geocoding(i)[0])
    longitude.append(geocoding(i)[1])

#####Dataframe만들기######
address_df = pd.DataFrame({'카페이름': csv['사업장명'],'상세주소':csv['소재지도로명주소'],'주소':address,'위도':latitude,'경도':longitude})

#df저장
address_df.to_csv('jungu_incheon_coffeeshop.csv')